#complete {
  color: green;
}

.current {
  font-weight: bold;
}

#remain {
  color: black;
}

#active {
  color: green;
}

#error {
  color: red;
}

body {
  background-color: light-blue;
}

* {
  margin: 0;
  padding: 0;
}
